/* Header Styles */
.header {
  background: none;
  /* opacity: 0; */
  color: #fff;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 64px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight:600;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: #cddb8c;
  text-shadow: 0 2px 8px rgba(255,215,0,0.2);
  cursor: pointer;
}

.navbar-links .cgprofile-icon {
  font-size: 2.3rem;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s, transform 0.15s;
  height: 1.5rem;
}

